name: Tests

on:
  push:
    branches: ['**']
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '16.2'
      - uses: actions/checkout@v4
      - name: Test
        run: swift test

  coverage:
    runs-on: macos-14
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '16.2'
      - uses: actions/checkout@v4
      - name: Test with coverage
        run: |
          xcodebuild test \
            -scheme JobRunner \
            -destination "platform=macOS" \
            -enableCodeCoverage YES | xcpretty
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
